.services-section {
    padding: 5rem 1rem;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.services-content {
    width: 100%;
    max-width: 1195px;
    margin: 0 auto;
    padding: 0 1rem;
    position: relative;
    z-index: 1;
}

.services-title {
    display: flex; /* Enables Flexbox layout */
    align-items: center; /* Vertically centers the text */
    justify-content: center; /* Horizontally centers the text */
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    margin-top: 1.675rem; /* Add top margin to match howitworks-title */
    font-weight: bold; /* Ensure the title is bold */
    font-family: inherit; /* Ensure consistent font family */
    margin-bottom: 2rem;
    position: relative; /* For proper stacking context */
    z-index: 2; /* Ensure the title is above other content */
    height: 100px; /* Set the height of the container */
    background-color: rgba(255, 255, 255, 0.8); /* Ensure text readability with a semi-transparent background */
    background-image: url('https://res.cloudinary.com/dqoibnakh/image/upload/v1719095127/Banner_ogye1w.png');
    background-size: cover; /* Ensure the background image covers the entire title area */
    background-position: center; /* Center the background image */
}

.services-description {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.services-description h2 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.services-description p {
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    .services-content {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .services-title {
        width: 100vw; /* Make sure the title spans the entire viewport width */
        margin-left: calc(-50vw + 50%); /* Adjust to center the full-width title */
        padding: 0 1rem;
    }
}

@media (min-width: 1100px) {
    .services-section{
    margin-top: 7rem; /* Equal to the height of the navbar */
    }
}

@media (min-width: 1195px) {
    .services-section {
        width: 1195px;
    }
}
