.full-width-image {
  width: 100%;
  height: auto;
  display: block;
}

.home-section {
  padding-bottom: 2.5rem;
  /* ... other styles ... */
}

.home-text {
  text-align: center; /* Center the text */
  margin-top: 8rem; /* Add some spacing between the image and the text */
}

.home-heading {
  font-size: 1.4rem; /* Adjust as needed */
  line-height: 2rem; /* Adjust this value as needed */
  color: #777; /* Adjust as needed */
  
}

.home-subheading {
  font-size: 1.2rem; /* Adjust as needed */
  line-height: 1.6rem; /* Adjust this value as needed */
  color: #777; /* Adjust as needed */
  margin-top: 1rem; /* Add some spacing between the heading and subheading */
}

.info-section {
  padding-top: 5.31rem;
  padding-bottom: 5.31rem;
  background-color: #f7f7f7;
}

.info-content {
  width: 60%;  /* Adjust this value to control the width of the column */
  margin: 0 auto;  /* Center the container horizontally */
}

.info-title{
  text-align: center;
  color: #A39E8E;
}

.info-text {
  text-align: left;  /* Set text to start from the left */
  margin: 0 auto;  /* Center block elements */
  line-height: 1.6rem; /* Adjust this value as needed */
  padding-left: 1.125rem; /* Visually align with title */
  color: #777;
}

.info-content-additional {
  margin-top: 4rem;  /* Adjust as needed */
}

.customer-showcase {
  padding-top: 5.31rem;
  background-color: #fff; /* Or any desired background color */
}

.showcase-title {
  text-align: center;
  margin-bottom: 2rem; /* Adjust as needed */
  color: #777
}

.showcase-item {
  display: column;
  flex-direction: column;  /* Stack items vertically */
  align-items: center; 
  padding-bottom: 5.31rem; /* Adjust for spacing between items */
}

.customer-name {
  font-weight: normal;
  color: #777;
  padding: 0 2rem; /* Adjust the padding value as needed */
}

.customer-testimonial {
  font-style: italic;
  color: #777;
  padding: 0 2rem; /* Adjust the padding value as needed */
}

.cta-section {
  padding-top: 5.31rem;
  padding-bottom: 5.31rem;
  color: #777; /* Setting the font color for the entire section */
  background-color: #f7f7f7;
}

.cta-link {
  color: #A39E8E; /* Assuming this is the color you used earlier */
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
  color: #777;
}

.cta-link:hover {
  text-decoration: underline; /* Optional: Add underline on hover for better UX */
}


