.full-width-image {
  width: 100%;
  height: auto;
  display: block;
}

.home-section {
  padding-bottom: 5rem;
}

.home-text {
  position: relative;
  text-align: center;
  margin-top: 8rem;
}

.home-heading-container {
  position: relative;
  display: flex;
  flex-direction: column; /* Ensure content is in a column layout */
  justify-content: center;
  align-items: center;
}

.home-heading {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #777;
  position: relative;
  z-index: 1;
}

.home-subheading {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #777;
  margin-top: 1rem;
  position: relative;
  z-index: 1;
}

.fade-in-initial {
  opacity: 0;
  transform: translateY(1.5rem);
  transition: opacity 10s, transform 10s;
}

.fade-in-final {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.5s, transform 1.5s;
}

.info-section {
  padding-top: 5.31rem;
  padding-bottom: 2.5rem;
  background-color: #f7f7f7;
  background-size: cover; /* Ensure background covers the entire width */
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.info-content {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.info-title {
  text-align: center;
  color: #777;
}

.info-text {
  text-align: left;
  margin: 0 auto;
  line-height: 1.6rem;
  padding-left: 1.125rem;
  color: #777;
}

.customer-showcase {
  padding-top: 5.31rem;
  background-color: #fff;
}

.showcase-title {
  text-align: center;
  margin-bottom: 2rem;
  color: #777;
}

.image-wrapper {
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 0;
}

.full-width-image-cs {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.showcase-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5.31rem;
}

.customer-name {
  font-weight: normal;
  color: #777;
  padding: 0 2rem;
}

.customer-testimonial {
  font-style: italic;
  color: #777;
  padding: 0 2rem;
}

.cta-section {
  padding-top: 5.31rem;
  padding-bottom: 5.31rem;
  color: #777;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f7f7f7;
}

.cta-link {
  color: #40d4fc !important;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
  color: #777;
}

.cta-link:hover {
  text-decoration: underline;
}

.scroll-to-top {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  opacity: 0.5;
  background-image: url("https://res.cloudinary.com/dqoibnakh/image/upload/v1698237417/SeekPng.com_grey-png_2162589_irw3sb.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  position: fixed;
  bottom: 1rem;
  right: 0.5rem;
  z-index: 1000;
}

@media only screen and (max-width: 380px) {
  .home-heading {
    font-size: 1.15rem;
  }

  .home-subheading {
    font-size: 1.1rem;
  }

  .info-title {
    font-size: 1.4rem;
  }

  .info-content {
    width: 70%;
    margin: 0 auto;
  }

  .showcase-title {
    font-size: 1.4rem;
  }

  .cta-section h2 {
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .home-heading {
    position: relative;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #777;
    padding: 0;
    z-index: 1;
}

  .home-heading .break-line::before {
    content: "\A";
    white-space: pre;
  }

  .home-section {
    position: relative;
  }

  .home-heading {
    position: relative;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #777;
    z-index: 1;
  }

  .home-heading::before,
  .home-heading::after {
    content: "";
    position: absolute;
    width: 5rem; /* Fixed width */
    height: 15rem; /* Fixed height */
    background-size: cover; /* Ensure the image covers the entire area */
    background-repeat: no-repeat;
    opacity: 1;
    z-index: 0;
  }

  .home-heading::before {
    top: 100%; /* Adjust as needed */
    left: -12rem; /* Adjust as needed */
    transform: translateY(-50%); /* Center vertically relative to top */
    background-image: url("https://res.cloudinary.com/dqoibnakh/image/upload/v1718706251/Branch_left_xhg9qf.png");
  }

  .home-heading::after {
    top: 100%; /* Adjust as needed */
    right: -12rem; /* Adjust as needed */
    transform: translateY(-50%); /* Center vertically relative to top */
    background-image: url("https://res.cloudinary.com/dqoibnakh/image/upload/v1718706259/Branch_right_l7bljp.png");
  }

  .info-content {
    width: 45%;
    margin: 1rem;
  }

  .carousel .slider-wrapper {
    position: relative;
  }

  .image-wrapper {
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    overflow: hidden;
  }

  .full-width-image-cs {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .arrow {
    background-color: #777(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #777;
    z-index: 1000;
  }
  
  .arrow.prev {
    left: 2rem; /* Adjust as needed to position the arrow a fixed distance from the image */
  }
  
  .arrow.next {
    right: 2rem; /* Adjust as needed to position the arrow a fixed distance from the image */
  }

  .showcase-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
  }

  .customer-name {
    font-weight: bold;
    color: #777;
    text-align: center;
    max-width: 80%;
    margin-top: 1rem;
  }

  .customer-testimonial {
    font-style: italic;
    color: #777;
    text-align: center;
    max-width: 80%;
    margin: 0.5rem auto 2rem;
  }

  .carousel .slide img.image-1 {
    width: 600px;
    height: 400px;
    margin-bottom: 2rem;
  }

  .carousel .slide img.image-2 {
    width: 400px;
    height: 350px;
  }

  .carousel .slide img.image-3 {
    width: 400px;
    height: 400px;
  }

  .carousel .slide img.image-4 {
    width: 400px;
    height: 450px;
  }
}

@media (min-width: 1195px) {
  .home-section, .customer-showcase{
    width: 1195px;
    margin: 0 auto;
  }

  .carousel .slide img.image-1 {
    width: 600px;
    height: 500px;
    margin-bottom: 2rem;
  }

  .carousel .slide img.image-2 {
    width: 600px;
    height: 450px;
  }

  .carousel .slide img.image-3 {
    width: 600px;
    height: 400px;
  }

  .carousel .slide img.image-4 {
    width: 600px;
    height: 450px;
  }
}