.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem; /* Adjust padding as needed */
    height: 10rem;  /* Set a larger height */
    background-color: #fff;  /* Assuming a white background for contrast */
    border-bottom: 1px solid lightgray;  /* Light gray bottom border */
}

.navbar__logo {
    font-size: 1.5rem;  /* Adjust font size as needed */
    margin-left: 1rem;  /* Space it a bit from the left edge */
}
