.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid lightgray;
}

.navbar__logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar__logo {
    width: 14rem; /* Increased size for TRV Logo */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 0rem; /* Space between the two logos */
}

.navbar__heading {
    font-size: 1.5rem; /* Adjust the size of the text */
    color: #303030; /* Adjust the color of the text */
    letter-spacing: 0.04rem; /* Adjust the spacing between letters */
    margin-top: 0rem; /* Space between the logo and the heading */
    font-weight: 700; /* Medium bold weight */
    font-family: 'Roboto', sans-serif;
}

.icon-burger {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 15%;
    top: 50%; /* Adjusted to center vertically within the navbar */
    transform: translateY(-50%);
    background-color: #303030;
    border: 1px solid #fff; /* Added a full border */
    padding: 0.25rem; /* Adjusting padding for even spacing */
    box-sizing: border-box;
    width: 2.5rem; /* Adjusted width */
    height: 2.5rem; /* Adjusted height */
    justify-content: center; /* Centering the lines vertically */
    align-items: center; /* Centering the lines horizontally */
    transition: background-color 0.5s; /* Keep the transition duration the same */
}

.icon-burger .line {
    width: 1.8rem;
    height: 0.313rem;
    background-color: #fff;
    margin: 0.188rem 0;
    transition: background-color 0.5s, transform 0.5s; /* Keep the transition durations the same */
}

.icon-burger.active {
    background-color: #fff;
}

.icon-burger.active .line {
    background-color: #303030;
}

.icon-burger.active .line:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.156rem;
    margin-left: -0.938rem;
}

.icon-burger.active .line:nth-child(2) {
    opacity: 0;
}

.icon-burger.active .line:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.156rem;
    margin-left: -0.938rem;
}

.menu-container {
    display: none; /* Hidden by default */
    position: absolute; /* Positioned relative to the navbar */
    top: 100%; /* Start from the bottom of the navbar */
    width: 100%; /* Take full width of the viewport */
    background-color: #303030; /* Same as the hamburger icon */
    text-align: center; /* Center each menu item horizontally */
    opacity: 0; /* Start with 0 opacity for fade-in effect */
    transition: opacity 0.2s ease-in-out; /* Fade-in effect */
    width: 80%; /* Adjust to desired width */
    margin: 0 auto; /* Center it horizontally */
    left: 0;
    right: 0;
}

.menu-item {
    padding: .75rem 0; /* Even vertical spacing */
    color: #fff; /* White text color for contrast */
    font-size: 1.2rem; /* Adjust font size as needed */
    cursor: pointer; /* Indicate interactivity */
}

/* Active state for the menu when hamburger icon is clicked */
.icon-burger.active + .menu-container {
    display: block; /* Show the menu */
    opacity: 1; /* Fade in to full opacity */
} 

