.aboutus-section {
    padding: 5rem 1rem;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.aboutus-content {
    width: 100%;
    max-width: 1195px;
    margin: 0 auto;
    padding: 0 1rem;
    position: relative; /* Ensure positioned children are relative to this */
    z-index: 1; /* Ensure the content is above other elements */
}

.aboutus-title {
    display: flex; /* Enables Flexbox layout */
    align-items: center; /* Vertically centers the text */
    justify-content: center; /* Horizontally centers the text */
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 2rem;
    position: relative; /* For proper stacking context */
    z-index: 2; /* Ensure the title is above other content */
    height: 100px; /* Set the height of the container */
    background-color: rgba(255, 255, 255, 0.8); /* Ensure text readability with a semi-transparent background */
    background-image: url('https://res.cloudinary.com/dqoibnakh/image/upload/v1719095127/Banner_ogye1w.png');
    background-size: cover; /* Ensure the background image covers the entire title area */
    background-position: center; /* Center the background image */
}

.aboutus-description {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 2rem;
    line-height: 1.6rem;
}

.aboutus-image {
    text-align: center;
}

.aboutus-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

@media (min-width: 768px) {
    .aboutus-content {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .aboutus-title {
        width: 100vw; /* Make sure the title spans the entire viewport width */
        margin-left: calc(-50vw + 50%); /* Adjust to center the full-width title */
        padding: 0 1rem;
    }
}

@media (min-width: 1195px) {
    .aboutus-section {
        width: 1195px;
        margin: 0 auto;
    }
}
